<h2 class="mb-4">Public ideas{{#if specific}}{{specific}}{{/if}}</h2>

{{#if ideas}}
    {{#each ideas}}
    <div class="card card-body mb-2">
        <h3>{{title}}</h3>
        <p class="lead mb-0">{{user.name}}</p>
        <p class="font-italic">{{formatDate date "MMMM Do YYYY"}}</p>
        <p>{{description}}</p>
        <p class="mb-0 font-weight-bold">Consumer Segment</p>
        <p>{{consumers}}</p>
        <p class="mb-0 font-weight-bold">Competitors</p>
        <p>{{competitors}}</p>
        <a class="btn btn-info btn-block" href="/ideas/show/{{id}}">Show</a>
        {{#if user}}
            {{{editDelete user.id ../user.id id}}}
        {{/if}}
    </div>
    {{/each}}

{{else}}
    <h4>No public ideas yet!</h3>
{{/if}}